.hotel-container {
  display: flex;
  justify-content: space-between;

  & .location {
    display: flex;
    align-items: center;
    margin-block: 1rem;

    & i {
      margin-right: 10px;
    }
  }

  & h3 {
    color: blue;
    font-weight: 500;

    &.price {
      color: green;
      margin-top: 0.5rem;
    }
  }

  & button {
    display: flex;
    align-self: flex-start;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
