.container {
  display: grid;
  grid-template-columns: 25% 75%;
  /* padding: 1rem 13rem; */
  width: 70%;
  gap: 1rem;
  margin-inline: auto;
  margin-top: 1rem;

  @media (max-width: 992px) {
    padding: 10px 10px;
    width: 98%;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
